@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Slab:700|Roboto:400,500,900&subset=cyrillic-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

html {
  font-size: 10px; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
  border: 6px solid white;
  -webkit-transition: background 0.4s, border-color 0.4s;
  -o-transition: background 0.4s, border-color 0.4s;
  transition: background 0.4s, border-color 0.4s;
  background: transparent;
  outline: none;
  font: 700 3.5rem "Roboto Condensed";
  color: #fff;
  padding: 30px 115px;
  border-radius: 121px; }
  .btn-container {
    text-align: center; }
  @media (max-width: 1300px) {
    .btn {
      font-size: 2.24rem;
      padding: 20px 78px;
      border-width: 5px; } }
  @media (max-width: 767px) {
    .btn {
      font-size: 1.8rem;
      padding: 13px 45px; } }
  .btn span {
    color: #fff;
    line-height: 0.8em;
    display: inline-block;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s; }
    .btn span:after {
      content: "";
      display: inline-block;
      margin-left: 26px;
      height: 23px;
      width: 18px;
      background: url(../img/white_arrow.png) center no-repeat;
      background-size: contain; }
      @media (max-width: 1300px) {
        .btn span:after {
          height: 16px;
          margin-left: 25px; } }
      @media (max-width: 767px) {
        .btn span:after {
          height: 13px;
          width: 9px;
          margin-left: 15px; } }
  .btn-white {
    background: #fff;
    padding: 20px 98px;
    line-height: 0em;
    z-index: 10; }
    @media (max-width: 1300px) {
      .btn-white {
        padding: 15px 60px;
        border-width: 3px;
        border-color: #314b66; } }
    .btn-white span {
      color: #314b66;
      font-size: 2rem; }
      @media (max-width: 1300px) {
        .btn-white span {
          font-size: 1.28rem; } }
      .btn-white span:after {
        margin-left: 15px;
        width: 9px;
        height: 17px;
        background-image: url(../img/blue_arrow.png); }
        @media (max-width: 1300px) {
          .btn-white span:after {
            height: 10px; } }
  .btn-gray {
    background: #fff;
    padding: 15px 60px;
    z-index: 10;
    border-color: #314b66;
    border-width: 2px;
    line-height: 0; }
    .btn-gray--company {
      width: 40%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    @media (max-width: 1300px) {
      .btn-gray {
        padding: 15px 60px; } }
    .btn-gray span {
      color: #314b66;
      font-size: 1.6rem; }
      @media (max-width: 1300px) {
        .btn-gray span {
          font-size: 1.28rem; } }
      .btn-gray span:after {
        margin-left: 15px;
        width: 7px;
        height: 12px;
        background-image: url(../img/blue_arrow.png); }
        @media (max-width: 1300px) {
          .btn-gray span:after {
            height: 10px; } }
  .btn-white:hover, .btn-gray:hover {
    background: #314b66;
    border-color: #314b66; }
    .btn-white:hover span, .btn-gray:hover span {
      color: #fff; }
      .btn-white:hover span:after, .btn-gray:hover span:after {
        background-image: url(../img/white_arrow.png); }
  .btn-balloon:after {
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: 20%;
    left: -7.1%;
    display: block;
    width: 24%;
    height: 189%;
    background: url(../img/balloon.png) no-repeat center;
    background-size: contain;
    z-index: -1; }

.big-btn-container {
  margin: 155px 0;
  text-align: center; }
  @media (max-width: 1300px) {
    .big-btn-container {
      margin: 100px 0; } }
  @media (max-width: 767px) {
    .big-btn-container {
      margin: 70px 0; } }

.title {
  font: 700 14rem "Roboto Slab";
  line-height: 0.8em;
  margin-bottom: 40px; }
  @media (max-width: 1300px) {
    .title {
      font-size: 9rem; } }
  @media (max-width: 767px) {
    .title {
      font-size: 5rem;
      line-height: 1.2em; } }
  @media (max-width: 400px) {
    .title {
      font-size: 4rem; } }
  .title-little {
    font-size: 10.9rem;
    margin-bottom: 45px; }
    @media (max-width: 1300px) {
      .title-little {
        font-size: 7rem; } }
    @media (max-width: 767px) {
      .title-little {
        font-size: 3.9rem;
        margin-bottom: 30px; } }
  .title-up {
    font-family: "Roboto Condensed";
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase; }
    @media (max-width: 1300px) {
      .title-up {
        font-size: 1.28rem; } }
    @media (max-width: 767px) {
      .title-up {
        font-size: 1.2rem;
        margin-bottom: 50px;
        letter-spacing: 3px; } }
    @media (max-width: 400px) {
      .title-up {
        letter-spacing: 2px; } }
  .title-small {
    font-size: 4.4rem; }
    @media (max-width: 1300px) {
      .title-small {
        font-size: 2.816rem; } }
    @media (max-width: 767px) {
      .title-small {
        font-size: 1.6rem; } }
  .title-tiny {
    font-size: 3rem;
    line-height: 1.2em; }
    @media (max-width: 1300px) {
      .title-tiny {
        font-size: 1.92rem; } }
    @media (max-width: 767px) {
      .title-tiny {
        font-size: 1.1rem;
        margin-bottom: 25px; } }

.text,
.text-block p {
  font: 400 1.8rem "Roboto";
  line-height: 1.6em; }
  .text strong,
  .text-block p strong {
    font-weight: 700; }
  @media (max-width: 1300px) {
    .text,
    .text-block p {
      font-size: 1.28rem; } }
  @media (max-width: 767px) {
    .text,
    .text-block p {
      font-size: 1.2rem; } }

.white-block {
  background: #fff;
  padding: 100px 3.47%;
  position: relative;
  width: 67.33%; }
  @media (max-width: 1300px) {
    .white-block {
      padding: 64px 3.47%; } }
  .white-block-big {
    width: 75%;
    padding: 83px 15% 83px 8.47%; }
    @media (max-width: 1300px) {
      .white-block-big {
        padding: 53px 15% 53px 8.47%; } }
    .white-block-big .title {
      text-transform: uppercase; }
      .white-block-big .title-small {
        line-height: 1.2em; }
  @media (max-width: 767px) {
    .white-block, .white-block-big {
      padding: 50px 20px;
      width: 100%; }
    .white-block .btn {
      margin-top: 25px; } }

.pack-container {
  width: 32.67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  @media (max-width: 767px) {
    .pack-container {
      width: 100%; } }
  .pack-container.letter-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    font: 700 37rem "Roboto Slab";
    color: #fff;
    opacity: 0.5;
    line-height: 0.65em;
    text-transform: uppercase;
    z-index: auto; }
    @media (max-width: 1300px) {
      .pack-container.letter-bg:before {
        font-size: 23.68rem; } }
    @media (max-width: 767px) {
      .pack-container.letter-bg:before {
        font-size: 13.024rem;
        color: #eef1f2;
        opacity: 1;
        right: 15%; } }
  .pack-container.letter-bg-h:before {
    content: "h"; }
  .pack-container.letter-bg-m:before {
    content: "m"; }
  .pack-container.letter-bg-i:before {
    content: "i"; }
  .pack-container.letter-bg-b:before {
    content: "b"; }
  .pack-container.letter-bg-a:before {
    content: "a"; }

.pack-img {
  text-align: center;
  width: 100%; }
  @media (max-width: 767px) {
    .pack-img {
      text-align: left;
      width: 100%; } }
  .pack-img img {
    max-width: 100%; }
  .pack-img .photo {
    position: relative;
    z-index: 2;
    width: 52%; }
    @media (max-width: 767px) {
      .pack-img .photo {
        margin-bottom: 50px; } }
  .pack-img .cloud-mini {
    z-index: 1;
    position: relative;
    margin: -20% -20px -13%;
    width: 90%; }
    @media (max-width: 767px) {
      .pack-img .cloud-mini {
        display: none; } }

.packs-info {
  overflow-x: hidden; }

.packs-info .row {
  overflow-x: hidden;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .packs-info .row {
      margin-bottom: 10px; } }
  .packs-info .row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .packs-info .row:nth-child(even) .letter-bg:before {
      left: 0;
      right: auto; }
      @media (max-width: 767px) {
        .packs-info .row:nth-child(even) .letter-bg:before {
          left: auto;
          right: 15%; } }
    .packs-info .row:nth-child(even) .white-block {
      padding: 100px 8%; }
      @media (max-width: 1300px) {
        .packs-info .row:nth-child(even) .white-block {
          padding: 64px 8%; } }
      @media (max-width: 767px) {
        .packs-info .row:nth-child(even) .white-block {
          padding: 64px 20px; } }
  .packs-info .row:last-child {
    margin-bottom: 0; }

ul.marker-list {
  margin-top: 35px;
  font: 500 2rem "Roboto";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: square;
  list-style-position: inside; }
  @media (max-width: 1300px) {
    ul.marker-list {
      font-size: 1.28rem; } }
  ul.marker-list li {
    width: 50%;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      ul.marker-list li {
        width: 100%; } }

.image-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .image-list li {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 25px; }
      .image-list li:last-child {
        margin-bottom: 0; } }

.image-list .picture {
  width: 16.5%;
  margin-right: 6%;
  text-align: center; }
  @media (max-width: 767px) {
    .image-list .picture {
      width: 100%;
      max-width: 160px;
      margin: 0 auto 15px; } }

.image-list .description {
  width: 77.5%; }
  @media (max-width: 767px) {
    .image-list .description {
      width: 100%; } }
  .image-list .description .title {
    font-size: 2.4rem; }

ul.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 2px solid #dee4e7; }
  ul.buy li {
    width: 25%;
    border: 2px solid #dee4e7;
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    -o-transition: filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
    overflow: hidden;
    text-align: center; }
    ul.buy li a {
      display: block;
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      -o-transition: transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s; }
    ul.buy li:hover a {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    @media (max-width: 570px) {
      ul.buy li {
        width: 50%; } }
    @media (max-width: 375px) {
      ul.buy li {
        width: 100%; } }
    ul.buy li img {
      width: 100%;
      max-width: 233px; }

ul.address-list {
  margin-bottom: 40px; }
  ul.address-list li {
    font: 400 2rem "Roboto";
    margin-bottom: 10px; }
    ul.address-list li:last-child {
      margin-bottom: 0; }
    ul.address-list li a {
      text-decoration: underline; }

.elem-list {
  font: 400 1.8rem "Roboto";
  line-height: 1.6em; }
  .elem-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px; }
    .elem-list li .dots {
      margin: 0 33px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border-top: 3px dotted #ABBEC7;
      height: 0;
      -ms-flex-item-align: center;
      align-self: center; }
  .elem-list strong {
    font-weight: 700; }
  @media (max-width: 1300px) {
    .elem-list {
      font-size: 1.28rem; } }
  @media (max-width: 767px) {
    .elem-list {
      font-size: 1.2rem; } }

.product-list {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px -10px; }
  @media (max-width: 1100px) {
    .product-list {
      margin-bottom: 0; } }
  @media (max-width: 950px) {
    .product-list {
      margin: 10px -5px 0; } }
  .product-list li {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-list li .content {
      width: 100%;
      padding: 48px 10px;
      margin: 0 10px;
      background: #FFFFFF;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 950px) {
        .product-list li .content {
          margin: 0 5px; } }
    @media (max-width: 1100px) {
      .product-list li {
        width: 50%;
        margin-bottom: 20px; } }
    @media (max-width: 950px) {
      .product-list li {
        margin-bottom: 10px; } }
    @media (max-width: 570px) {
      .product-list li {
        width: 100%; } }
    .product-list li .desc {
      text-transform: uppercase;
      font: 700 1.2rem "Roboto Condensed";
      letter-spacing: 2px;
      margin-bottom: 6px; }
    .product-list li .name {
      font: 900 2.9rem "Roboto";
      text-transform: uppercase;
      margin-bottom: 35px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .product-list li img {
      width: 55%;
      margin-bottom: 38px; }

.footer {
  background: #fff;
  text-align: center;
  padding: 165px 15px; }
  @media (max-width: 1300px) {
    .footer {
      padding: 120px 15px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 70px 15px; } }
  .footer-slogan {
    width: 87.33%;
    margin-bottom: 100px; }
    @media (max-width: 1300px) {
      .footer-slogan {
        margin-bottom: 70px; } }
    @media (max-width: 767px) {
      .footer-slogan {
        width: 100%;
        margin-bottom: 50px; } }

ul.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  ul.socials li {
    margin-right: 15px;
    width: 68px; }
    @media (max-width: 1300px) {
      ul.socials li {
        width: 50px; } }
    ul.socials li a {
      border-radius: 40%;
      display: inline-block;
      overflow: hidden; }
      ul.socials li a img {
        width: 100%; }
    ul.socials li:last-child {
      margin-right: 0; }

nav {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: #fff url(../img/nav_bg.png) top left no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s; }
  @media (max-width: 400px) {
    nav {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      nav .socials {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  nav.open {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 2em; }
  nav .close-nav {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 38px;
    right: 38px;
    width: 27px; }
    @media (max-width: 400px) {
      nav .close-nav {
        top: 0;
        right: 0; } }
  nav ul.nav-list {
    margin-bottom: 95px; }
    @media (max-width: 1300px) {
      nav ul.nav-list {
        margin-bottom: 8em; } }
    nav ul.nav-list li {
      margin-bottom: 60px;
      position: relative; }
      @media (max-width: 1300px) {
        nav ul.nav-list li {
          margin-bottom: 40px; } }
      nav ul.nav-list li:before {
        content: '';
        display: block;
        width: 60px;
        height: 6px;
        background: #dee4e7;
        position: absolute;
        top: 50%;
        left: -41px;
        -webkit-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%); }
        @media (max-width: 570px) {
          nav ul.nav-list li:before {
            display: none; } }
      nav ul.nav-list li:last-child {
        margin-bottom: 0; }
      nav ul.nav-list li a {
        position: relative;
        font: 700 4.6rem "Roboto Slab";
        color: #314b66;
        text-decoration: none;
        line-height: 0.8em;
        display: block; }
        @media (max-width: 1300px) {
          nav ul.nav-list li a {
            font-size: 2.94rem; } }

.text-block {
  width: 66.66%;
  background: #fff;
  margin: -20px auto 20px;
  position: relative; }
  @media (max-width: 1300px) {
    .text-block {
      width: 80%; } }
  @media (max-width: 950px) {
    .text-block {
      width: 90%; } }
  @media (max-width: 767px) {
    .text-block {
      width: calc( 100% - 20px);
      margin-bottom: 10px;
      margin-top: 0; } }
  .text-block .back {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    font: 400 1.5rem "Roboto";
    color: #314b66;
    background: #fff;
    display: inline-block;
    z-index: 99; }
    .text-block .back:hover:before {
      -webkit-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
      transform: translateX(-4px); }
    @media (max-width: 1300px) {
      .text-block .back {
        left: 20px; } }
    @media (max-width: 767px) {
      .text-block .back {
        top: 10px;
        left: 15px; } }
    .text-block .back:before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 12px;
      background: url(../img/back_arrow.png) center no-repeat;
      background-size: contain;
      margin-right: 6px;
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      -o-transition: transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s; }
  .text-block .content {
    padding: 45px 11.3% 45px;
    max-height: 70vh;
    overflow: auto;
    position: relative; }
    @media (max-width: 767px) {
      .text-block .content {
        padding: 50px 20px 25px;
        margin-bottom: 0;
        max-height: none; } }
    .text-block .content .title {
      font-size: 4rem;
      margin-bottom: 32px;
      line-height: 1.1em; }
      @media (max-width: 1300px) {
        .text-block .content .title {
          font-size: 3rem;
          margin-bottom: 20px; } }
      @media (max-width: 767px) {
        .text-block .content .title {
          font-size: 2.4rem; } }
    .text-block .content .separation-line {
      margin: 0 0 53px; }
      @media (max-width: 1300px) {
        .text-block .content .separation-line {
          margin: 0 0 40px; } }
    .text-block .content .line {
      height: 1px;
      width: 100%;
      background: #dee4e7;
      margin: 61px 0; }
      @media (max-width: 1300px) {
        .text-block .content .line {
          margin: 45px 0; } }
    .text-block .content p {
      margin-bottom: 30px; }
      @media (max-width: 1300px) {
        .text-block .content p {
          margin-bottom: 20px; } }
    .text-block .content .decor-top {
      top: 5px;
      right: 5px;
      position: absolute;
      width: 38%; }
    .text-block .content .decor-bottom {
      bottom: 5px;
      left: 5px;
      position: absolute;
      width: 38%; }
    .text-block .content .sub-title,
    .text-block .content .description .title {
      font-size: 2.2rem;
      margin-bottom: 20px;
      margin-top: 5px; }
      @media (max-width: 1300px) {
        .text-block .content .sub-title,
        .text-block .content .description .title {
          margin-bottom: 15px;
          font-size: 1.8rem;
          margin-top: 0; } }
    .text-block .content .sub-title {
      font-family: "Roboto Slab";
      font-weight: 700;
      text-transform: none;
      margin-bottom: 53px; }
    .text-block .content .text-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .text-block .content .text-img > * {
        display: inline-block;
        width: 49%; }
        @media (max-width: 1300px) {
          .text-block .content .text-img > * {
            width: 100%; } }
      .text-block .content .text-img p {
        padding-right: 10px; }
      .text-block .content .text-img img {
        margin-left: 10px; }
        @media (max-width: 1300px) {
          .text-block .content .text-img img {
            display: block;
            max-width: 300px;
            margin: 0 auto 25px; } }

.run-string {
  overflow: hidden; }
  .run-string-main {
    background: #fff;
    padding: 67px 0;
    margin-top: 32px;
    margin-bottom: 20px; }
    @media (max-width: 1300px) {
      .run-string-main {
        padding: 50px 0; } }
    .run-string-main img {
      width: 475px;
      margin-right: 95px; }
  .run-string-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .run-string-bg .run-string {
      padding: 30px 0; }
  .run-string-large img {
    width: 475px;
    margin-right: 95px; }
  .run-string-middle img {
    width: 300px;
    margin-right: 50px; }

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .map > * {
    width: 50%; }
    @media (max-width: 950px) {
      .map > * {
        width: 100%; } }
  .map .address .title {
    font-size: 2.9rem;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .map .address .title {
        font-size: 2.4rem; } }
  .map .separation-line {
    margin-bottom: 30px; }
  .map iframe {
    width: 100%; }
    @media (max-width: 950px) {
      .map iframe {
        margin-top: 35px; } }

.text-block.address-container .content {
  max-height: none;
  padding: 45px 35px 38px 11.3%; }
  @media (max-width: 767px) {
    .text-block.address-container .content {
      padding: 50px 20px 20px; } }

.text-block.address-container .separation-line {
  margin-bottom: 38px; }

::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  background: #dee4e7; }

::-webkit-scrollbar-thumb {
  background: #1E4C67; }

.product {
  margin-bottom: 20px; }
  .product .cont-fix {
    position: relative; }
  .product-photo {
    width: 25%;
    min-width: 250px;
    text-align: center;
    position: relative; }
    @media (max-width: 767px) {
      .product-photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -72px; } }
    .product-photo .prod_cloud {
      position: absolute;
      bottom: -33%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      width: 192%;
      max-width: 95vw; }
  .product .run-string {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: -1; }
    .product .run-string img {
      width: 300px;
      margin-right: 50px; }
  .product-name-bg {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc( 100% - 40px); }
    @media (max-width: 950px) {
      .product-name-bg {
        width: calc( 100% - 20px);
        left: 10px; } }
  .product-info {
    background: #FFFFFF url(../img/product_img/info_bg.png) 60% 23% no-repeat;
    background-size: 50%;
    position: relative;
    z-index: 99;
    padding: 85px 8.2% 170px; }
    @media (max-width: 1300px) {
      .product-info {
        padding: 50px 8.2% 120px; } }
    @media (max-width: 767px) {
      .product-info {
        padding: 20px 20px 20px; } }
    .product-info h1 {
      text-transform: none;
      margin-bottom: 125px; }
      @media (max-width: 1300px) {
        .product-info h1 {
          margin-bottom: 60px; } }
      @media (max-width: 767px) {
        .product-info h1 {
          margin-bottom: 30px; } }
    .product-info h2 {
      margin-bottom: 52px; }
      @media (max-width: 950px) {
        .product-info h2 {
          margin-bottom: 25px; } }
  .product-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .product-text .description {
      position: relative;
      width: 50%;
      margin-right: 8%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (max-width: 950px) {
        .product-text .description {
          width: 100%;
          margin-right: 0;
          margin-bottom: 100px; } }
    .product-text .elem-list-container {
      width: 42%; }
      @media (max-width: 950px) {
        .product-text .elem-list-container {
          width: 100%; } }
    .product-text .separation-line {
      margin-top: 0; }
    .product-text .hidden-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .product-text .hidden-text-container {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        overflow: hidden; }
        @media (max-width: 950px) {
          .product-text .hidden-text-container {
            height: 220px; } }
        .product-text .hidden-text-container.open {
          height: auto; }
          .product-text .hidden-text-container.open .hidden-text {
            position: relative; }
    .product-text .text {
      margin-bottom: 40px;
      line-height: 1.8em; }
      @media (max-width: 950px) {
        .product-text .text {
          margin-bottom: 20px; } }
    .product-text ul.marker-list li {
      width: 100%; }

.more {
  font: 700 2.5rem "Roboto Slab";
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  cursor: pointer;
  white-space: nowrap; }
  @media (max-width: 950px) {
    .more {
      font-size: 1.6rem; } }
  .more.open img {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .more img {
    margin-left: 7px;
    width: 11px;
    vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #314b66; }

h1 {
  font: 500 3rem "Roboto";
  text-transform: uppercase; }
  @media (max-width: 1100px) {
    h1 {
      font-size: 1.92rem; } }

body {
  overflow-x: hidden;
  padding: 20px; }
  @media (max-width: 950px) {
    body {
      padding: 10px; } }
  body .parallax-bg {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/main_bg.jpg) no-repeat center bottom;
    background-size: cover; }
  body section {
    position: relative;
    z-index: 10; }

.separation-line {
  margin: 45px 0;
  height: 3px;
  width: 100%;
  background: #dee4e7; }
  @media (max-width: 767px) {
    .separation-line {
      margin: 25px 0; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .row {
      background: #fff; } }

.kapsula {
  width: 11.9%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%); }
  .kapsula img {
    width: 100%; }
  .kapsula .wave {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 200px;
    -webkit-animation: breath 1.5s ease both infinite;
    animation: breath 1.5s ease both infinite; }
    .kapsula .wave-2 {
      padding: 55px;
      border-color: rgba(255, 255, 255, 0.45);
      -webkit-animation-delay: 0.335s;
      animation-delay: 0.335s; }
    .kapsula .wave-3 {
      padding: 85px;
      border-color: rgba(255, 255, 255, 0.18);
      -webkit-animation-delay: 0.75s;
      animation-delay: 0.75s; }

.beautiful-img {
  width: 25%;
  text-align: right; }
  .beautiful-img img {
    width: 36%;
    margin-right: 9%; }

@-webkit-keyframes breath {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }

@keyframes breath {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }

img {
  max-width: 100%; }

@media (min-width: 768px) {
  .mobile {
    display: none !important; } }

@media (max-width: 767px) {
  .desktop {
    display: none !important; } }

#slider li {
  text-align: center; }
  #slider li img {
    max-width: 60%; }

.slider-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px; }
  .slider-container span {
    display: block;
    cursor: pointer;
    width: 18%;
    padding: 15px;
    pointer-events: auto; }
    .slider-container span img {
      width: 100%;
      max-width: 74px; }
  .slider-container .cloud-bg {
    width: calc(100% + 40px);
    position: absolute;
    top: 64%;
    left: -20px;
    z-index: -1; }

.slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%; }

.slider-next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

a {
  text-decoration: none; }

.js-hidden {
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  -o-transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s; }

.right-shift {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

.left-shift {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.js-hidden.show {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0); }

.main_section {
  position: relative;
  border: 20px solid #ffffff;
  min-height: calc( 100vh - 40px); }
  @media (max-width: 767px) {
    .main_section {
      margin-bottom: 10px; } }
  @media (max-width: 950px) {
    .main_section {
      border-width: 10px; } }
  .main_section.index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .main_section.index {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    .main_section.index header {
      position: absolute;
      z-index: 99; }
      @media (max-width: 767px) {
        .main_section.index header {
          position: relative; } }
  .main_section .slogan {
    position: absolute;
    width: 85%;
    top: 21.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .main_section .slogan img {
      width: 100%;
      opacity: 0;
      -webkit-transition: opacity 2s;
      -o-transition: opacity 2s;
      transition: opacity 2s; }
      .main_section .slogan img.active {
        opacity: 1; }
    .main_section .slogan-white {
      padding: 0 20px;
      margin: 20px 0; }
      @media (max-width: 950px) {
        .main_section .slogan-white {
          padding: 0 20px; } }
  .main_section .items {
    position: relative;
    z-index: 10; }
    .main_section .items ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto;
      width: 97%;
      position: relative;
      pointer-events: auto !important; }
      .main_section .items ul .cloud-bg {
        position: absolute !important;
        z-index: -1;
        max-width: 95%;
        -webkit-animation: none;
        animation: none;
        bottom: -56% !important;
        top: auto !important;
        left: 50% !important;
        -webkit-transform: translate(-50%, 0) !important;
        -ms-transform: translate(-50%, 0) !important;
        transform: translate(-50%, 0) !important; }
        .main_section .items ul .cloud-bg.active img {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
        .main_section .items ul .cloud-bg img {
          -webkit-transform: translateY(35px);
          -ms-transform: translateY(35px);
          transform: translateY(35px);
          -webkit-transition: opacity 2s 3s, -webkit-transform 2s 3s;
          transition: opacity 2s 3s, -webkit-transform 2s 3s;
          -o-transition: transform 2s 3s, opacity 2s 3s;
          transition: transform 2s 3s, opacity 2s 3s;
          transition: transform 2s 3s, opacity 2s 3s, -webkit-transform 2s 3s; }
      .main_section .items ul li {
        width: 15%;
        position: relative !important; }
        .main_section .items ul li.ball {
          width: 28.4%; }
          .main_section .items ul li.ball.active img {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            opacity: 1; }
          .main_section .items ul li.ball img {
            -webkit-transform: scale(0.1);
            -ms-transform: scale(0.1);
            transform: scale(0.1);
            opacity: 0;
            -webkit-transition: opacity 2s, -webkit-transform 2s;
            transition: opacity 2s, -webkit-transform 2s;
            -o-transition: transform 2s, opacity 2s;
            transition: transform 2s, opacity 2s;
            transition: transform 2s, opacity 2s, -webkit-transform 2s; }
        .main_section .items ul li.pack_left img {
          -webkit-transform: translateX(-25px);
          -ms-transform: translateX(-25px);
          transform: translateX(-25px);
          -webkit-transition: opacity 2s 2s, -webkit-transform 2s 2s;
          transition: opacity 2s 2s, -webkit-transform 2s 2s;
          -o-transition: transform 2s 2s, opacity 2s 2s;
          transition: transform 2s 2s, opacity 2s 2s;
          transition: transform 2s 2s, opacity 2s 2s, -webkit-transform 2s 2s; }
        .main_section .items ul li.pack_right img {
          -webkit-transform: translateX(25px);
          -ms-transform: translateX(25px);
          transform: translateX(25px);
          -webkit-transition: opacity 2s 2s, -webkit-transform 2s 2s;
          transition: opacity 2s 2s, -webkit-transform 2s 2s;
          -o-transition: transform 2s 2s, opacity 2s 2s;
          transition: transform 2s 2s, opacity 2s 2s;
          transition: transform 2s 2s, opacity 2s 2s, -webkit-transform 2s 2s; }
        .main_section .items ul li.pack_left.active img, .main_section .items ul li.pack_right.active img {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          opacity: 1; }
        .main_section .items ul li img {
          width: 100%;
          opacity: 0; }

header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    header {
      padding: 10px;
      position: relative; } }
  header .logo {
    display: block;
    width: 10.7%; }
    header .logo img {
      width: 100%; }
    @media (max-width: 767px) {
      header .logo {
        width: 80px; } }
  header .burger {
    cursor: pointer; }
    header .burger span {
      display: block;
      background: #314b66;
      height: 4px;
      margin-bottom: 5px; }
      header .burger span:nth-child(1) {
        width: 41px; }
      header .burger span:nth-child(2) {
        width: 31px; }
      header .burger span:nth-child(3) {
        width: 19px;
        margin-bottom: 0; }

.tns-outer {
  padding: 0 !important; }
  .tns-outer [hidden] {
    display: none !important; }
  .tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer; }

.tns-slider {
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s; }
  .tns-slider > .tns-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.tns-horizontal.tns-subpixel {
  white-space: nowrap; }
  .tns-horizontal.tns-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal; }

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both; }

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left; }

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%; }

.tns-no-calc {
  position: relative;
  left: 0; }

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; }
  .tns-gallery > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -webkit-transition: opacity 0s, -webkit-transform 0s;
    transition: opacity 0s, -webkit-transform 0s;
    -o-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s, -webkit-transform 0s; }
  .tns-gallery > .tns-slide-active {
    position: relative;
    left: auto !important; }
  .tns-gallery > .tns-moving {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }

.tns-autowidth {
  display: inline-block; }

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6; }
  .tns-lazy-img.tns-complete {
    opacity: 1; }

.tns-ah {
  -webkit-transition: height 0s;
  -o-transition: height 0s;
  transition: height 0s; }

.tns-ovh {
  overflow: hidden; }

.tns-visually-hidden {
  position: absolute;
  left: -10000em; }

.tns-transparent {
  opacity: 0;
  visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0; }

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1; }

.tns-vpfix {
  white-space: nowrap; }
  .tns-vpfix > div, .tns-vpfix > li {
    display: inline-block; }

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden; }

.tns-t-ct {
  width: 2333.33333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0; }
  .tns-t-ct:after {
    content: '';
    display: table;
    clear: both; }
  .tns-t-ct > div {
    width: 1.42857%;
    width: calc(100% / 70);
    height: 10px;
    float: left; }
